<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="discover">
      <ion-label>Discover</ion-label>
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="category">
        <ion-label>Category</ion-label>
        <ion-icon name="albums"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="profile">
        <ion-label>Account</ion-label>
        <ion-icon name="person"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="cart">
        <ion-label>Cart</ion-label>
        <ion-icon name="cart"></ion-icon>
        <ion-badge >1</ion-badge>

    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>